body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
}

.container {
  padding: 30px;
}

h1 {
  color: #22c55e;
  text-align: center;
  margin-bottom: 30px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}